{% extends "base.html" %}
{% block content %}
    <h1>Users</h1>
    <div class="card-grid">
        {% for user in users %}
            <div class="card">
                <h2>{{ user.name }}</h2>
                <a href="{{ url_for('list_user_movies', user_id=user.id) }}" class="btn">View Movies</a>
            </div>
        {% endfor %}
    </div>
    <div class="form-box">
        <h3>Add New User</h3>
        <form action="{{ url_for('create_user') }}" method="post" class="form-group">
            <input type="text" name="user_name" placeholder="User name" required>
            <button type="submit" class="btn">Add User</button>
        </form>
    </div>
{% endblock %}
